:root {
    --font: 'Montserrat', sans-serif;
    --primary: #121212;
    --secondary: #6aff9f;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: var(--font);
}
body {
    margin: 0 auto;
    text-align: left;
    max-width: 400px;
    color: var(--primary);
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
.payment {
    background-image: url('./assets/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 390px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-bottom: 24px;
}
.payment h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 28px;
    text-align: center;
    color: #fff;
    padding: 0 50px;
    margin-top: 40px;
}
.payment p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 20px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    padding: 0 30px;
}
.table {
    width: 390px;
    height: auto;
    background: #F7F7F7;
    border-radius: 10px;
    margin-bottom: 8px;
    padding: 20px;
}
.table div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table-a {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 20px;
    color: #717171;
}
.table-b {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 39px;
}
.history {
    margin-bottom: 24px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 14px;
    text-align: center;
}
.tell-us {
    width: 390px;
    height: 138px;
    background: var(--secondary);
    border-radius: 10px;
    background-image: url('./assets/mask.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 16px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.tell-us h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 18px;
    margin-bottom: 4px;
}
.tell-us p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 20px;
    margin-bottom: 4px;
}
.tell-us button {
    background: var(--primary);
    font-style: normal;
    font-weight: 900;
    font-size: 1.4rem;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    width: fit-content;
}
.security {
    margin: 32px;
}
.security div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}
.security i {
    margin-right: 10px;
}
.security h4 {
    font-style: normal;
    font-weight: 700 ;
    font-size: 1.4rem;
    line-height: 18px;
}
.security li {
    margin-bottom: 8px ;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 13px;
    list-style-image: url('./assets/elipse.svg');
}
.li-1::before {
    content: '1';
    position: relative;
    right: 4%;
    bottom: -3px;
    font-weight: bold;
}
.li-2::before {
    content: '2';
    position: relative;
    right: 4.5%;
    bottom: -5px;
    font-weight: bold;
}
.li-3::before {
    content: '3';
    position: relative;
    right: 4.5%;
    bottom: -4px;
    font-weight: bold;
}
footer {
    margin-bottom: 56px;
}
.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
}
.social p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 17px;
    color: #717171;
    margin-right: 10px;
}
.social figure {
    margin-right: 10px;
}
.disclaimer {
    font-style: normal;
    font-weight: 400;
    font-size: .9rem;
    line-height: 15px;
    text-align: center;
}